@import "definitions/_colors.scss";

$rhythm: 1rem;
$row-columns: 12 !default;
$col-pad: $rhythm !default;
$col-gap: $rhythm !default;

$border: 1px solid $color-black-100;
$border-radius: .3rem;

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

%col-gap {
  margin: $col-gap;
}

%col-pad {
  padding: $col-pad;
}

%row-contain {
  margin: -$col-pad;
}