.container--demo {
  padding: $rhythm $rhythm * 2;
  border-left: $border;
  border-right: $border;

  .container {
    margin-top: $rhythm;
    margin-bottom: $rhythm;
  }

  .col {
    // Decorate cells for demo
    background-color: $color-black-50;
    border: 1px solid $color-gray;
  }
}
