.menu-item--simple {
  color: $color-gray;
  display: block;

  a, a:visited {
    color: $color-gray;
    text-decoration: none;
  }

  a:hover {
    color: $color-primary;
  }

  &.is-active a {
    color: $color-black;
    font-weight: 700;
  }
  padding: 0.3rem 2rem;
}