$color-black: black;
$color-black-100: rgba(0,0,0,.1);
$color-black-50: rgba(0,0,0,.05);
$color-gray: #6c757d;
$color-dark-gray: #343a40;
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-white: white;
$color-dark: #343a40;
$color-light: #f8f9fa;


$shade-step-level: 15%;
$saturation-step-level: 5%;
@function darker($color, $level: 1) {
  @return darken(saturate($color, $saturation-step-level), $shade-step-level * $level);
}
@function lighter($color, $level: 1) {
  @return lighten(saturate($color, $saturation-step-level), $shade-step-level * $level);
}